body{   
    background-color: rgb(178, 141, 86);
    transition: 0.5s;
    /* text-align: center; */

}
#btn{
    /* text-align: center; */
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 43%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 1px 1px 13px 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
#btn:hover{
    color: black;
    background-color: white;
}
#btn:active{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#code{
    /* display: flex;
    justify-content: end; */
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-decoration: underline;
    font-family:  Courier ;
}